write-kubeconfig-mode: "0644"
node-label:
  - "ovh-instance-type=vps2020-starter-1-2-20"
  - "cluster-node-role=control"
server: "https://{{ loadbalancer_ipv4 }}:{{ loadbalancer_port }}"
token: "{{ k3s_token  }}"
node-name: "{{ hostnamefromip }}"
bind-address: "0.0.0.0"
https-listen-port: "{{ loadbalancer_node_port }}"
advertise-address: "{{ loadbalancer_ipv4 }}"
advertise-port: "{{ loadbalancer_port }}"
tls-san:
  - "{{ loadbalancer_ipv4 }}"
  - "{{ c1_ipv4addr }}"
  - "{{ c2_ipv4addr }}"
  - "{{ c3_ipv4addr }}"
  - "{{ loadbalancer_fqdn }}"
  - "{{ c1_fqdn }}"
  - "{{ c2_fqdn }}"
  - "{{ c3_fqdn }}"
  - "127.0.0.1"
cluster-cidr: "{{ cluster_cidr }}"
service-cidr: "{{ service_cidr }}"
service-node-port-range: "{{ service_node_port_range }}"
cluster-dns: "{{ cluster_dns }}"
cluster-domain: "{{ domainfromip }}"
node-external-ip: "{{ ipv4addr }}"
flannel-backend: "{{ flannel_backend }}"
flannel-external-ip: true
egress-selector-mode: "{{ egress_selector_mode }}"
flannel-iface: "{{ flannel_interface }}"

