apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    additionalArguments:
      - "--api.dashboard=true"
      - "--api.insecure=false"
      # Trust X-Forwarded-* only from the HAProxy VMs
      - "--entryPoints.web.forwardedHeaders.trustedIPs={{ [haproxy_lb1, haproxy_api, haproxy_mqtt] | map('regex_replace','^(.*)$','\\1/32') | join(',') }}"
      - "--entryPoints.websecure.forwardedHeaders.trustedIPs={{ [haproxy_lb1, haproxy_api, haproxy_mqtt] | map('regex_replace','^(.*)$','\\1/32') | join(',') }}"
    dashboard:
      enabled: true
    deployment:
      replicas: 2
      nodeSelector:
        node-role.kubernetes.io/control-plane: "true"
    api:
      dashboard: true
